<!DOCTYPE html>
<html>
<head>
	<title>
	</title>
	<script type="text/javascript" src="/chat.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:bold" rel="stylesheet">
	
</head>
<body>
